* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    
}

header {
    height: 69px;
    display: flex;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: black;
    opacity: 0.9;
}

.logo img {
    height: 50px;
    margin: 10px;
}

ul {
    display: flex;
    margin: 10px;
    text-decoration: underline;
    list-style-type: none;
}

li {
    margin-right: 20px;
    margin-top: 10px;
}

li:last-of-type {
    margin-right: 0;
}

main {
    opacity: 0.9;
    
    position: relative;
    top: 69px;
}

.mission {
    margin: 0 auto;
   
    background-image: url(resources/images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    opacity: 0.9;
}

.mission div {
    width: 100%;
    justify-content: center;
    position: relative;
    top: 300px;
    background-color: black;
    opacity: 0.9;
}

.feature-container {
    margin: 50px auto;
    width: 1000px;
    opacity: 0.9;
    
    position: relative;
    top: 69px;
}

.feature-container h2 {
    margin: 10px;
    
}

.feature-tea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.9;
}

.feature-tea img {
    width: 300px;
    height: 200px;
    margin: 10px;
    
}

.location-container {
    opacity: 0.9;
    position: relative;
    top: 69px;
    background-image: url(resources/images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
    background-position-y: 20%;
    background-size: auto;
    
}

.location-container h2 {
    margin-bottom:15px;
    opacity: 0.9;
}

.locations {
    display: flex;
    justify-content: center;
    align-content: center;
}

.locations div{
    background-color: black;
    width: 300px;
    opacity: 1;
    margin-right: 40px;
    line-height: 3rem;
    
}

.locations div:last-of-type {
    margin-right: 0;
}

.contact {
    margin: 10px auto;
    position: relative;
    top: 69px;
    opacity: 0.9;
    height: 200px;

}

.contact h5 {
    padding-top: 40px;
}

footer {
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: 69px;
    height: 75px;
}


